<nav>
  <a routerLink="/home">Home</a>
  <a routerLink="/players">Players</a>
  <a routerLink="/signin">Sign In</a>
  <a routerLink="/create-character">Create Character</a>
  <a routerLink="/create-guild">Create Guild</a>
  <a routerLink="/character-faction">Character Faction</a>
</nav>

<router-outlet></router-outlet>

<footer>
  <nav>
    <a routerLink="/home">Home</a>
    <a routerLink="/players">Players</a>
    <a routerLink="/signin">Sign In</a>
    <a routerLink="/create-character">Create Character</a>
    <a routerLink="/create-guild">Create Guild</a>
    <a routerLink="/character-faction">Character Faction</a>
  </nav>
</footer>

