<div class="players-list">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Gender</th>
          <th>Class</th>
          <th>Faction</th>
          <th>Starting Location</th>
          <th>Fun Fact</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let character of characters">
          <td>{{ character.name }}</td>
          <td>{{ character.gender }}</td>
          <td>{{ character.class }}</td>
          <td>{{ character.faction }}</td>
          <td>{{ character.startingLocation }}</td>
          <td>{{ character.funFact }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <nav>
    <a routerLink="/players">Players</a>
    <a routerLink="/signin">Sign In</a>
    <a routerLink="/create-character">Create Character</a>
    <a routerLink="/create-guild">Create Guild</a>
    <a routerLink="/character-faction">Character Faction</a>
  </nav>