<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Navigation Menu -->
<nav>
  <ul>
      <li><a href="#">Players</a></li>
      <li><a href="#">Sign In</a></li>
      <li><a href="#">Create Character</a></li>
      <li><a href="#">Create Guild</a></li>
      <li><a href="#">Character Faction</a></li>
  </ul>
</nav>

<!-- Main Content-->

<router-outlet></router-outlet>

<!-- Footer Navigation-->
<footer>
  <nav>
      <ul>
        <li><a href="#">Players</a></li>
        <li><a href="#">Sign In</a></li>
        <li><a href="#">Create Character</a></li>
        <li><a href="#">Create Guild</a></li>
        <li><a href="#">Character Faction</a></li>
      </ul>
  </nav>
</footer>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />
