<nav>
  <a routerLink="/players">Players</a>
  <a routerLink="/signin">Sign In</a>
  <a routerLink="/create-character">Create Character</a>
  <a routerLink="/create-guild">Create Guild</a>
  <a routerLink="/character-faction">Character Faction</a>
</nav>
<router-outlet></router-outlet>

<footer>
  <nav>
      <ul>
        <li><a href="#">Players</a></li>
        <li><a href="#">Sign In</a></li>
        <li><a href="#">Create Character</a></li>
        <li><a href="#">Create Guild</a></li>
        <li><a href="#">Character Faction</a></li>
      </ul>
  </nav>
</footer>
